.OnboardingPage {
    min-height: 100vh;
    max-width: 100%;
    background-image: url("../../images/bg-onboarding@2x.png");
    background-size: cover;
}

.OnboardingPage-skipButton {
    width: 44px;
    height: 27px;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    float: right;
    padding-right: 24px;
    padding-top: 32px;
}

.OnboardingPage-carousel {
    clear: both;
}

.OnboardingPage-content {
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding: 18px;
}

.OnboardingPage-content--flex {
    display: flex;
}

.OnboardingPage-stepTitle {
    object-fit: contain;
    font-family: Avenir;
    font-size: 26px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.OnboardingPage-stepDescription {
    display: flex;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 8px;
}

.OnboardingPage-text {
    font-family: Avenir;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.OnboardingPage-arrowToRight {
    object-fit: contain;
    margin-left: 10px;
}